@model IEnumerable<Audree.Ssa.Core.ViewModel.MaterialViewmodel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materialcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materialcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialGroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
